<!DOCTYPE html>
<html lang="en">
<head>
    <title>Creat A Chat</title>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <link rel="stylesheet" href="/style.css"> 

</head>
<body>

  <a href="/">Sign In</a>
  |
  <a href="/Chat">Chat</a>
  |
  <a href="/CreateChat">Create Chat</a>
    

  <br>
  <h1><u>Creation</u></h1>

  <label for="input">Chat Name:</label>
  <input type="text" id="chatName">
  <br>

    <br>
    <input type="button" id="creatBut" value="Create">


     <div id="includedContent"></div>


    <script>
      function redirect(){
        // for adding passwords later:
        // if(){}
        window.location.href = '/Chat'
      }


      function CreateNewChat(){
        if($("#chatName").val() != ""){
          $.post("/CreateChatFunction", {name:$("#chatName").val()}, null)
          redirect();
        }
        else if($("#chatName").val() == ""){
          alert("Put in a chat name");
        }
      }

      $(document).ready(function(){ 
        $("#creatBut").click(CreateNewChat);
      });
    </script>

</body>
</html>