<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="/style.css"> 
    <title>Chat</title>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

</head>
<body>
  <a href="/">Sign In</a>
  |
  <a href="/Chat">Chat</a>
  |
  <a href="/CreateChat">Create Chat</a>
  <input type="button" id="clearBut" value="Clear Log">

  <h1 class="Title"><u>Global Chat</u></h1>

  <input type="button" id="global1" value="Global 1" onclick="ChangeChat(0)">
  <input type="button" id="global2" value="Global 2" onclick="ChangeChat(1)">
  <input type="button" id="global3" value="Global 3" onclick="ChangeChat(2)">
  <br>
  <br>
  <div id="container"></div>
  <br>

  <div contentEditable="false" id="chatBox" class="chatDiv">
    <img src="/public/images/test.png">
  </div>
  
  <label for="nameInput">Your Name:</label>
  <input type="text" id="nameInput" value="Name" readonly>
  <br>
  <br>
  <input type="submit" id="sendBut" value="Send">
  <label for="input">Your Message:</label>
  <input type="text" id="input">

  <form id="picForm" action="fileupload" method="post" enctype="multipart/form-data">
    <label>Your Picture:
      <input id="fileStuff" type="file" name="filetoupload" >
    </label>
  </form>
<script src="/ChatHTMLScript.js"></script>
</body>
</html>