


body {
  background-color: #282829;
  /*background-image: url("/public/images/fishy.png");*/
}


p {
  font-family: verdana;
  font-size: 20px;
}
h1 {
  font-family: verdana;
  font-size: 50px;
  color: black;
  text-align: center;
}
label {
  font-family: verdana;
  font-size: 20px;
  color: lightgrey;
  text-align: center;
}
a {
  font-family: verdana;
  font-size: 20px;
}
a:hover {
  color: #0CF;
}
input[type=file] {
  font-family: verdana;
  font-size: 20px;
  color: lightgrey;
  background-color: #282829;
  border-color: #282829;
  border-radius:10px;
  text-align: left;
  /*display:none;*/
  /*width:300px;*/
}
input[type=text] {
  font-family: verdana;
  font-size: 20px;
  color: lightgrey;
  background-color: #4F4F4F;
  border-radius:10px;
  text-align: left;
}
input {
  font-family: verdana;
  font-size: 20px;
  background-color: #4F4F4F;
  color: lightgrey;
  border: 2px solid black;
  text-align: center;
  border-radius:10px;
}
img{
  /*width : inherit;*/
  /*opacity: 0.3;*/
}
form, table {
     display:inline;
     margin:0px;
     padding:0px;
}
.chatDiv {
  white-space:pre-wrap;
  font-family: verdana;
  font-size: 20px;
  width:100%;
  /*width: 1500px;*/
  height: 600px;
  border: 5px solid dimgrey;
  background-color: #4F4F4F;
  color: lightgrey;
  overflow-y:auto;
  position:relative;
  left:0px; 
  top:-25px;
  overflow-wrap: break-word
}
.chatDiv::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.chatDiv::-webkit-scrollbar-track {
  background: #282829;        /* color of the tracking area */
}

.chatDiv::-webkit-scrollbar-thumb {
  background-color: grey;    /* color of the scroll thumb */
  border-radius:10px;
}

.Title {
  will-change: transform;
  -webkit-transform: scaleX(1.5) scaleY(1.5) rotateX(0deg);
  -webkit-transform-origin: center 100%;
  opacity: 1;
}
/*
.Title:hover {
  background: white;//#3e4e62
}
*/